@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);

#getInvolvedIMG {
	padding-top: 80px;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	width: 100%;
	background-image: url('../img/hut.jpg');
	background-size: cover;
	height: 600px;
}
#headDimiInvolved {
	padding-bottom: 20px;
}

#DimiInfoBody {
	text-align: center;
}

#bodyCorporate {
	text-align: center;
	font-family: Raleway, Lato, 'Helvetica Neue', Helvetica, sans-serif;;
	width: 100%;
}

#DimiMajorTasks {
	background: #ddd;
	width: 100%;
}

#bodyOfApply {
	text-align: center;
}

#bodyOfFund {
	text-align: center;
}
#DimiPositions {
	background: #ddd;
	width: 100%;
}

#corporateForm {
	background: #ddd;
}

#jobsPositionsDimi {
	text-align: center;
}

h3 {
	text-align: center;
}
p {
	text-align: center;
}

h1 {
	margin-top: 3em;
	color: white;
	font-size: 60px;
	text-align: center;
}

#OffersOrDoesnt {
	background: #ddd !important;
	width: 100%;
}

#DimiInfoBody li{
	display: block;
	text-align: left;
	padding: 10px;
}

#DimiSkills {
	background: #ddd;
}

#BodyTeamRoles {
	text-align: center;
	width: 60%;
}

#BodyTeamRoles li {
	padding: 10px;
	display: block;
	text-align: left;
	font-variant: none;
}

#launchTeamDiv {
	background: #ddd;
}








/*header {
	height: 200px;
	color: white;
	background-image: url("../img/children.jpg");
}*/