<div id="aids" class="container" style="text-align:left;">
<h3>HIV/AIDS</h3>

<h4>Background</h4>

<p>From the beginning, Uganda Village Project has worked to address health issues surrounding the HIV/AIDS epidemic in Iganga District. We have conducted HIV prevention education projects, held free HIV testing clinics, and worked to support initiatives in peer education on the topic of HIV/AIDS.</p>

 

<h4>HIV Testing</h4>

<p>Many villagers in Iganga District do not know their HIV status due to fear, stigma, or cost of travel. Anti-retroviral drugs (ARVs) are free, however, for those villagers who test positive.</p>

<p>We partner with local non-governmental organizations (NGOs) or local health centers to bring HIV testing into Healthy Villages for those villagers who do wish to be tested.  We often collaborate with a Ugandan NGO called St. Mary’s to offer the testing in our Healthy Villages. St. Mary’s provides pre- and post-test counseling for those who test both positive and negative. It also refers all positive individuals to an NGO called TASO (founded in Uganda, and now spread across East Africa), which provides further counseling and free ARVs for a small, annual ‘membership’ fee.</p>

 

<h4>Community Education</h4>

<p>Our summer Healthy Village volunteer teams hold outreaches where they cover basic information on transmission, symptoms, and treatment of HIV/AIDS. We also bring in local community based organizations (CBOs) who hold massive music, drama and dance performances educating the community about HIV/AIDS. These outreach performances are greatly loved by the village communities, especially as UVP makes an effort to use local groups, so that the actors and musicians are often neighbors to the spectators.</p>

<p>Many of our summer volunteer teams help secondary schools within Healthy Villages to set up HIV/AIDS clubs. Sometimes these clubs exist already, and our teams then work further to educate or provide resources to the clubs. One of our Ugandan volunteers works with these school clubs year round, helping them to write and perform outreaches involving music, drama, and dance, focused on HIV/AIDS education. These clubs may perform for other secondary schools, local primary schools, or for their village communities.</p>

<p>Throughout the three years that we work in a village, UVP continues HIV/AIDS educational outreaches and biannual testing days.  Village Health Teams also continue to sensitize the community about HIV/AIDS and connect individuals who wish to get tested or to obtain ARVs to the nearest places to do so.</p>

 

<h4>Condom Distribution</h4>

<p>Some Village Health Teams distribute condoms to their village. Condoms can often be obtained free of charge from a local health center, or from an NGO like Family Planning Iganga. Sometimes Village Health Team members pick them up the condoms themselves, but if the location is far and transport expensive, UVP may pick up condoms and then give them to a Village Health Team member to distribute.</p></div>