<div id="atwork" class="container">
<h5>Healthy Villages at Work</h5>

<p>Through the Healthy Villages program, we work at a village-by-village level to address the most pressing healthcare concerns of each community: malaria, HIV/STIs, household sanitation and hygiene practices (which includes latrine coverage), and family planning access. We partner with community based organizations, non-governmental organizations, international and national interns, volunteers, and government officials ranging from the district to the village level.</P>


 <p>In each of our Healthy Villages, we:
<ul>
	<li>Create and train Village Health Teams (VHTs) which function as a community’s initial healthcare contact</li>
	<li>Provide preventative education and workshops on healthcare issue such as malaria, hygiene and sanitation, eye care, family planning and obstetric fistula</li>
	<li>Bring access to preventative healthcare such as STI/HIV testing and family planning options</li>
	<li>Collaborate with local partners to create referral networks whereby VHT members and health centers alert UVP if a patient requires care beyond local capacity (such as obstetric fistula repair), and UVP coordinates services through camps or at a specialty site</li>
	<li>Distribute  malaria nets (subsidized by UVP so as to be affordable) to village households, both through direct sales and through setting up supply chains using the VHT</li>
</ul> 
</div>