
<div id ="ComEd" class="container">
		<h4>Community Education</h4>
		<p>Our Healthy Villages program uses community education programs as a core component of our approach to empower rural villages to improve their own community’s health and living standards.</p>

		<p>In each of our targeted Healthy Villages, which represent communities in the Iganga District with the fewest resources for health and sanitation, we partner with local drama groups and nonprofits to provide education on such topics as prevention of communicable diseases, family planning options, how to keep household water safe, and safe motherhood. We have a large and diverse group of local Ugandan partner groups who employ participatory and entertaining educational methods to engage communities in learning. Because local villagers particularly enjoy learning through dramatic performances, we have partnered with local drama groups to produce plays that raise awareness on crucial health issues through song and dance.</p>

		<p>We strive to bring educational resources to the community based on the specific needs and requests of that community through the Healthy Villages model.</p>
	</div> 

</div>