<head>
<script src="../js/app.js"></script>

<link href="../css/main.css" type="text/css" rel="stylesheet"/>
	<link href="../css/dimi.css" type="text/css" rel="stylesheet"/>

</head>

<header>
	<nav>
		<ul>
			<li><a href="../index.html#top">home</a></li>
			<li><a href="../who-we-are.html">who we are</a></li>
			<li><a href="../what-we-do.html">what we do</a></li>
			<li><a href="../where-we-work.html">where we work</a></li>
			<li><a href="../get-involved.html">get involved</a></li>
			<li><a href='http://www.cafepress.com/uvp' target='_blank'>store</a></li>
			<li><a href='https://donatenow.networkforgood.org/uvp?code=Website' target='_blank'>donate</a></li>
		</ul>
	</nav>
</header>

<div class="container">
	<div style="margin-top: 55px" class="header">
		<a class="btn btn-default" href="corporateInvolvement.html" >Corporate</a>
		<a class="btn btn-default" href="jobsVolunterPositions.html" >Jobs and Volunteer Positions</a>
		<a class="btn btn-default" href="helpFundraise.html" >Help Fundraise</a>
		<a class="btn btn-default" href="applyInternship.html" >Apply for an Internship</a>
		<a class="btn btn-default" href="internshipInfo.html">Internship Information</a>
		<a class="btn btn-default" href="internshipTeamRoles.html" > Roles on Intern Teams</a>
		<a class="btn btn-default" href="internshipFAQ.html" >Internship FAQ</a>
	</div>
</div>
<div class="container" id="bodyCorporate">
	<h2>Corporate Involvement</h2>
	<p>Uganda Village Project is grateful for the individual donors who support our work each year. We are also appreciative of generous companies who recognize the importance of giving back, and who have chosen to support Uganda Village Project&#8217;s work to improve health in rural villages. </p>
	<p>In 2014, we received a wonderful gift from <a href="http://www.leadpages.net/products" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'http://www.leadpages.net/products', 'LeadPages']);"  target="_blank">LeadPages</a>, a dynamic company that creates software and web apps that allow businesses to grow large and devoted audiences. The Founder and President of LeadPages had won a prestigious Marketer of the Year award from a venture capitalist company. Instead of throwing a party for his own staff, LeadPages President Clay Collins decided to pass on the cash award, and asked employees voted for their favorite nonprofit. UVP was one of the charities selected, and we received a one-time gift of $5,000&#8211;a great benefit to our programs improving health in Iganga, and a wonderful testament to the character of the people at LeadPages. </p>
	<p>If you are connected with a company that is interested in supporting Uganda Village Project, please contact us using the form below&#8211;or email us directly at info@ugandavillageproject&#8211;and find out how you can get involved in improving health in Uganda!</p>
	<p><div class="wpcf7" id="corporateForm" dir="ltr">
			<div class="screen-reader-response"></div>
			<form name="" action="/get-involved/sponsorship-information/#wpcf7-f1793-p1065-o1" method="post" class="wpcf7-form" novalidate="novalidate">
				<div style="display: none;">
					<input type="hidden" name="_wpcf7" value="1793" />
					<input type="hidden" name="_wpcf7_version" value="4.1.1" />
					<input type="hidden" name="_wpcf7_locale" value="" />
					<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1793-p1065-o1" />
					<input type="hidden" name="_wpnonce" value="a92b6241b0" />
				</div>
		<p>Business Name*<br />
			<span class="wpcf7-form-control-wrap business-name"><input type="text" name="business-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
		<p>Your Name*<br />
			<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
		<p>Your Email (required)<br />
			<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
		<p>Contact Phone Number<br />
			<span class="wpcf7-form-control-wrap your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
		<p>Your Website<br />
			<span class="wpcf7-form-control-wrap your-website"><input type="text" name="your-website" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
		<p>Interested in sponsoring a fundraiser, our summer program or both?<br />
			<span class="wpcf7-form-control-wrap sponsor-menu"><select name="sponsor-menu[]" class="wpcf7-form-control wpcf7-select" aria-invalid="false" multiple="multiple"><option value="Fundraiser">Fundraiser</option><option value="Summer Program">Summer Program</option><option value="Both">Both</option><option value="Not Sure">Not Sure</option></select></span>    </p>
		<p>Please describe your interest in sponsorship and how we can help.<br />
			<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
		<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>

			<div class="wpcf7-response-output wpcf7-display-none"></div></form>
</div></div>