<h1>Healthy Villages</h1>

<p>“Healthy Villages” is an innovative, grassroots approach to addressing rural healthcare and public health in Uganda. Its goal is to improve the provision of healthcare and of preventative health education to underserved populations across rural Iganga District.  Healthy Villages targets the primary health risks of the region at a village-by-village level, in partnership with the District Health Office of Iganga, the Sub-County officials, and the local Health Center staff.</p>

<p>We launched Healthy Villages in five villages during the summer of 2009. To choose which villages to work in, we partnered with the District Health Office to identify communities that fell into the bottom quartile in sanitation and access to clean water in the district. We use this as our proxy for the most underserved villages in Iganga District, and continue to expand each year in the 70 identified villages. We work in each village for three years, building capacity within the community before acknowledging their accomplishments with a graduation ceremony.</p>

 

<h3>Healthy Villages at Work</h3>

<p>Through the Healthy Villages program, we work at a village-by-village level to address the most pressing healthcare concerns of each community: malaria, HIV/STIs, household sanitation and hygiene practices (which includes latrine coverage), and family planning access. We partner with community based organizations, non-governmental organizations, international and national interns, volunteers, and government officials ranging from the district to the village level.</p>

 

<p>In each of our Healthy Villages, we:</p>
<ul>
<li>Create and train Village Health Teams (VHTs) which function as a community’s initial healthcare contact</li>

<li>Provide preventative education and workshops on healthcare issue such as malaria, hygiene and sanitation, eye care, family planning and obstetric fistula</li>

<li>Bring access to preventative healthcare such as STI/HIV testing and family planning options</li>

<li>Collaborate with local partners to create referral networks whereby VHT members and health centers alert UVP if a patient requires care beyond local capacity (such as obstetric fistula repair), and UVP coordinates services through camps or at a specialty site</li>

<li>Distribute  malaria nets (subsidized by UVP so as to be affordable) to village households, both through direct sales and through setting up supply chains using the VHT </li>
</ul>

Kazigo A – partnering with the Uganda Red Cross and university students to improve health
Kidaago B – addressing malaria in the village
Namunkesu – building on the success of a shallow well project
 

<h3>Community Education</h3>



<p>Our Healthy Villages program uses community education programs as a core component of our approach to empower rural villages to improve their own community’s health and living standards.</p>

<p>In each of our targeted Healthy Villages, which represent communities in the Iganga District with the fewest resources for health and sanitation, we partner with local drama groups and nonprofits to provide education on such topics as prevention of communicable diseases, family planning options, how to keep household water safe, and safe motherhood. We have a large and diverse group of local Ugandan partner groups who employ participatory and entertaining educational methods to engage communities in learning. Because local villagers particularly enjoy learning through dramatic performances, we have partnered with local drama groups to produce plays that raise awareness on crucial health issues through song and dance.</p>

<p>We strive to bring educational resources to the community based on the specific needs and requests of that community through the Healthy Villages model.</p>

 

<h3>Health Center Programs</h3>

<p>A rural health center in Iganga District</p>

<p>The majority of our Healthy Villages programs take place at the village level. However, to make sustainable change in the health levels of our catchment area, we must improve existing, local healthcare services. Therefore, we work to strengthen the five Sub-County health centers around which our 70 Healthy Villages are based.</p>

<p>Ugandan health centers are organized along geographic levels -– districts each have a District Hospital that ought to be capable of advanced care. County Health Centers have less advanced healthcare options, and Sub-County Health Centers provide a lower level of care still.</p>

<p>Our five Sub-County Health Centers  are rarely capable of providing the healthcare that the system requires. Under-allocation of national funds and inefficient supply chains cause the health centers to be under-staffed and lacking in supplies and medicine. Even basic necessities like gloves or gauze may be lacking. Villagers (who are often pressed to even find the money for transport to the health centers) are sometimes asked to pay for these basic necessities, or to pay more than they ought to for medicine or care. The care provided may be inadequate, as staff is often under-trained.</p>

<p>Therefore, we work to strengthen the five health centers around which our 70 Healthy Villages are based in four ways:</p>
<ul>
<li>Provision of educational workshops and trainings for health center employees on specific issues, such as prenatal and neonatal care or obstetric fistula</li>

<li>Provision of durable medical goods such as stethoscopes or resuscitators (e.g.  we donated neonatal resuscitators to our health centers after employees were trained in the use of these resuscitators during summer 2009)</li>

<li>Establishing referral networks for specialty care, such as obstetric fistula repair and cataract removal</li>

<li>Inclusion of health center staff in our village programs, both as teachers and learners (e.g. we brought one health center employee to participate in each village-level, child malnutrition workshop held in 2009)</li>

<li>Advocating for the health centers at the district level, where money and resources are allocated</li>
</ul>