<div id="healthcenters" class="container">
	<h3>Health Center Programs</h3>
<p>The majority of our Healthy Villages programs take place at the village level. However, to make sustainable change in the health levels of our catchment area, we must improve existing, local healthcare services. Therefore, we work to strengthen the five Sub-County health centers around which our 70 Healthy Villages are based.</p>

<p>Ugandan health centers are organized along geographic levels -– districts each have a District Hospital that ought to be capable of advanced care. County Health Centers have less advanced healthcare options, and Sub-County Health Centers provide a lower level of care still.</p>

<p>Our five Sub-County Health Centers  are rarely capable of providing the healthcare that the system requires. Under-allocation of national funds and inefficient supply chains cause the health centers to be under-staffed and lacking in supplies and medicine. Even basic necessities like gloves or gauze may be lacking. Villagers (who are often pressed to even find the money for transport to the health centers) are sometimes asked to pay for these basic necessities, or to pay more than they ought to for medicine or care. The care provided may be inadequate, as staff is often under-trained.</p>

<p>Therefore, we work to strengthen the five health centers around which our 70 Healthy Villages are based in four ways:</p>
<ul>
	<li>Provision of educational workshops and trainings for health center employees on specific issues, such as prenatal and neonatal care or obstetric fistula</li>
	<li>Provision of durable medical goods such as stethoscopes or resuscitators (e.g.  we donated neonatal resuscitators to our health centers after employees were trained in the use of these resuscitators during summer 2009)</li>
	<li>Establishing referral networks for specialty care, such as obstetric fistula repair and cataract removal</li>
	<li>Inclusion of health center staff in our village programs, both as teachers and learners (e.g. we brought one health center employee to participate in each village-level, child malnutrition workshop held in 2009)</li>
	<li>Advocating for the health centers at the district level, where money and resources are allocated</li>
</ul>
</div>