
<head>
	<script src="../js/app.js"></script>
	<script src="../js/DimiTest.js"></script>
	<link href="../css/main.css" type="text/css" rel="stylesheet"/>

</head>

<header>
	<nav>
		<ul>
			<li><a href="../index.html#top">home</a></li>
			<li><a href="../who-we-are.html">who we are</a></li>
			<li><a href="../what-we-do.html">what we do</a></li>
			<li><a href="../where-we-work.html">where we work</a></li>
			<li><a href="../get-involved.html">get involved</a></li>
			<li><a href='http://www.cafepress.com/uvp' target='_blank'>store</a></li>
			<li><a href='https://donatenow.networkforgood.org/uvp?code=Website' target='_blank'>donate</a></li>
		</ul>
	</nav>
</header>

<div class="container">
	<div style="margin-top: 55px" class="header">
		<a class="btn btn-default" href="corporateInvolvement.html" >Corporate</a>
		<a class="btn btn-default" href="jobsVolunterPositions.html" >Jobs and Volunteer Positions</a>
		<a class="btn btn-default" href="helpFundraise.html" >Help Fundraise</a>
		<a class="btn btn-default" href="applyInternship.html" >Apply for an Internship</a>
		<a class="btn btn-default" href="internshipInfo.html">Internship Information</a>
		<a class="btn btn-default" href="internshipTeamRoles.html" > Roles on Intern Teams</a>
		<a class="btn btn-default" href="internshipFAQ.html" >Internship FAQ</a>
	</div>
</div>


<h2>Help us Fundraise</h2>
<h2>Make a Difference &#8211; The Importance of Fundraising</h2>

<p>Fundraising is vital to successful functioning of nonprofits. In order to help improve health in Iganga District, we’ve got to have funds to provide life-saving interventions for village households. And it doesn’t take much. In Ugandan villages, the difference between life and death literally comes down to a few dollars –- we’ve seen it time and again. For lack of a mosquito net, malaria takes a life. Contaminated water sickens a young woman with AIDS, and she can’t withstand the illness.</p>
<p>We raise most of our operating costs from individual donors (<a href="http://www.ugandavillageproject.org/who-we-are/vision-mission-goals/executive-summary/" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://www.ugandavillageproject.org/who-we-are/vision-mission-goals/executive-summary/', 'click here']);" >click here</a> to see our financial information), and we need your help to do that! The easiest way to support us is to make a tax-deductible <a href="https://donatenow.networkforgood.org/uvp?code=Website" onclick="_gaq.push(['_trackEvent', 'outbound-article', 'https://donatenow.networkforgood.org/uvp?code=Website', 'donation']);" >donation</a>. But if you&#8217;d like to get a little more involved, we can help you do that, too. Consider putting on a fundraiser event on behalf of UVP &#8212; which is really on behalf of the children and families of Iganga.</p>
<p>If there is anything we can do to help you run your fundraiser, please let us know. We have board members, alumni, and friends who would be happy to help, perhaps even in person if they live nearby. We hope that you will believe in our mission and be inspired to help us in our work –- if there are any questions we can answer about how we run our programs, our finances, or our structure and strategies, just let us know. We strive for as great a degree of transparency as we can create, so that we can demonstrate why our cause is worthy of your support.</p>
</td>
<td>
	<p style="text-align: center;"><strong>Fundraising Downloads</strong></p>
	<ul>
		<li><a href="http://www.ugandavillageproject.org/wp-content/uploads/2014/07/UVP-brochure.pdf" onclick="_gaq.push(['_trackEvent','download','http://www.ugandavillageproject.org/wp-content/uploads/2014/07/UVP-brochure.pdf']);"  target="_blank"><strong>Brochure</strong></a></li>
		<li><a href="http://www.ugandavillageproject.org/old/files/mediakitposter1.jpg" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://www.ugandavillageproject.org/old/files/mediakitposter1.jpg', 'Poster #1']);"  target="_blank"><strong>Poster #1</strong></a></li>
		<li><a href="http://www.ugandavillageproject.org/old/files/mediakitposter2.jpg" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://www.ugandavillageproject.org/old/files/mediakitposter2.jpg', 'Poster #2']);"  target="_blank"><strong>Poster #2</strong></a></li>
	</ul>
	<p> </p>
	<p>&nbsp;</p>
	<p><strong>Random Fundraising Ideas &#8211; refresh the page for a new idea!:</strong></p>
	<p>Facebook Fundraisers: Post status updates with pictures of Uganda and links to one of the many UVP donation sites. Facebook Causes allows you to sign up for a cause that will ask people to donate for your birthday (a “birthday wish”).</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><em>Contact info@ugandavillageproject.org if you have questions or comments about fundraising</em></p>
</div>
</div>
</div>