<head>
	<script src="../js/app.js"></script>
	<script src="../js/DimiTest.js"></script>
	<link href="../css/main.css" type="text/css" rel="stylesheet"/>
	<link href="../css/dimi.css" type="text/css" rel="stylesheet"/>
</head>

<header>
	<nav>
		<ul>
			<li><a href="../index.html#top">home</a></li>
			<li><a href="../who-we-are.html">who we are</a></li>
			<li><a href="../what-we-do.html">what we do</a></li>
			<li><a href="../where-we-work.html">where we work</a></li>
			<li><a href="../get-involved.html">get involved</a></li>
			<li><a href='http://www.cafepress.com/uvp' target='_blank'>store</a></li>
			<li><a href='https://donatenow.networkforgood.org/uvp?code=Website' target='_blank'>donate</a></li>
		</ul>
	</nav>
</header>

<div class="container">
	<div style="margin-top: 55px" class="header">
		<a class="btn btn-default" href="corporateInvolvement.html" >Corporate</a>
		<a class="btn btn-default" href="jobsVolunterPositions.html" >Jobs and Volunteer Positions</a>
		<a class="btn btn-default" href="helpFundraise.html" >Help Fundraise</a>
		<a class="btn btn-default" href="applyInternship.html" >Apply for an Internship</a>
		<a class="btn btn-default" href="internshipInfo.html">Internship Information</a>
		<a class="btn btn-default" href="internshipTeamRoles.html" > Roles on Intern Teams</a>
		<a class="btn btn-default" href="internshipFAQ.html" >Internship FAQ</a>
	</div>
</div>


<div class="container" id="BodyTeamRoles">
	<h3>Different teams:</h3>
	<h3><strong>Monitoring, Evaluation, and Follow-Up (M&amp;E/FU) Teams</strong></h3>
	<p>M&amp;E/Follow-up teams work with villages that were initiated into the <span style="text-decoration: underline;"><a href="http://www.ugandavillageproject.org/what-we-do/healthy-villages/" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://www.ugandavillageproject.org/what-we-do/healthy-villages/', 'Healthy Villages']);" >Healthy Villages</a></span> program in 2014 and earlier. These teams evaluate the efficacy of the program initiatives through monitoring and evaluation activities. In addition they provide continued capacity building to Village Health Teams and work to address any issues that may have come up since the initiation of the program. These teams also continue to strengthen the community’s knowledge base with educational sessions similar to those of launch teams.</p>
	<p>&nbsp;</p>
	<h4>Duties and Responsibilities:</h4>
		<i>Monitoring and Evaluation</i></h4>
	<ul>
		<li>Conduct monitoring and evaluation activities to measure the progress of the health status of the village, with regards to water, sanitation and hygiene, HIV/AIDS, malaria, and reproductive health, through the use of focus groups, surveys, and other data collection tools</li>
	</ul>
	<ul>
		<li>Assess the effectiveness of UVP&#8217;s programming in the village, develop learnings from successes and setbacks, and work with UVP staff to develop programmatic improvements for the community</li>
	</ul>
	<p><i>Follow-Up Capacity Building</i></p>
	<ul>
		<li>Plan, design, and facilitate educational outreaches on preventative health issues such as safe water, sanitation and hygiene, HIV/AIDS, malaria, and family planning</li>
	</ul>
	<ul>
		<li>Assess the capacity and effectiveness of the Village Health Team and plan and implement capacity building sessions for VHT members</li>
	</ul>
	<p>&nbsp;</p>
	<div id="launchTeamDiv">
		<h3><strong>Launch Team</strong></h3>
		<p>Launch teams help facilitate the start of UVP’s working relationship with a new village. The team initiates a three-year community intervention called the <span style="text-decoration: underline;"><a href="http://www.ugandavillageproject.org/what-we-do/healthy-villages/" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://www.ugandavillageproject.org/what-we-do/healthy-villages/', 'Healthy Villages']);" >Healthy Villages</a></span> program. The team supports the creation and/or training of the Village Health Team (VHT), a group of voluntary community health workers in the village, and works with the VHT to conduct health assessments, carry out educational interventions, and distribute health materials. Once the team leaves, the UVP staff and future intern teams continue to work with the VHT and community for a total of three years.</p>
		<p>&nbsp;</p>
		<h4>Duties and Responsibilities:</h4>
			<i>Village Health Team Preparation</i></p>
		<ul>
			<li>Support the training of VHT members with regards to general public health knowledge (e.g., safe water, hygiene, sanitation, HIV/AIDS, malaria, family planning, reproductive health, obstetric fistula)</li>
		</ul>
		<ul>
			<li>Determine best ways to mobilize and communicate health-related information to community members</li>
		</ul>
		<p><i>Baseline/Needs Assessment</i></p>
		<ul>
			<li>Conduct structured interviews and focus groups to understand community health status and needs</li>
		</ul>
		<ul>
			<li>Interview key stakeholders in the village who could provide insight on the issues that most affect the health of the village, including nearby local health center staff, existing community health workers, village leadership, etc.</li>
		</ul>
		<ul>
			<li>Develop a sampling method to efficiently obtain household information representative of the village community</li>
		</ul>
		<ul>
			<li>Collect key information utilizing the UVP Baseline Sanitation Survey tool</li>
		</ul>
		<p><i>Educational Interventions and Supply Chain Set Up</i></p>
		<ul>
			<li>Plan, design, and facilitate educational outreaches with the VHTs in regards to safe water, sanitation and hygiene, HIV/AIDS, malaria, family planning, reproductive health, and obstetric fistula</li>
		</ul>
		<ul>
			<li>Advertise to and mobilize community members to attend educational sessions, considering creative/effective methods to bolster session attendance</li>
		</ul>
		<ul>
			<li>Create relevant materials to aid in the communication of health messages and ideas</li>
		</ul>
		<ul>
			<li>Collaborate with VHT members to establish a supply chain of healthy intervention products, such as insecticide-treated malaria nets and condoms; track progress of usage</li>
		</ul>
		<p>&nbsp;</p>
	</div>
	<h2><strong>Water, Sanitation, and Hygiene (WASH) Team</strong></h2>
	<p>The WASH team will work with several villages to plan, design, and implement sustainable and effective measures to improve safe water, hygiene, and sanitation practices in the village. The team will work with local community members, VHTs, UVP staff, and other local stakeholders to engage in tangible methods of sanitation improvement (e.g., well building, tippy tap construction). Moreover, the team will need to carry out assessments to identify barriers and issues that currently exist and collaborate with key stakeholders to design appropriate solutions.</p>
	<p>&nbsp;</p>
	<h4>Duties and Responsibilities:</h4>
		<i>Capacity Building</i></p>
	<ul>
		<li>Retrain and reestablish Water User Committees where necessary, and plan and implement community projects (e.g., well clean up days)</li>
	</ul>
	<p><i>Educational Outreaches</i></p>
	<ul>
		<li>Plan and conduct WASH educational sensitizations</li>
	</ul>
	<ul>
		<li>Work with local teachers and administrators to plan and facilitate educational outreaches on handwashing and hygiene to local schools</li>
	</ul>
	<p><i>Program Design and Assessment</i></p>
	<ul>
		<li>Research and survey the use of tippy taps and other methods of sanitation throughout the community, especially in local schools</li>
	</ul>
	<ul>
		<li>Work with VHT and water committee members to plan and conduct local focus groups in order to best understand how to introduce tippy taps into the local community and schools; share information with UVP staff to suggest future WASH outreach</li>
	</ul>
	<h2>Roles on teams</h2>
	<div id="needToAddPic" class="container">

	</div>
	<h3><strong>Team Leader </strong> (International and Ugandan)</h3>
	<ul>
		<li><i>Project Scope:</i> Define project goals for the summer with team, village leadership, and UVP staff.</li>
	</ul>
	<ul>
		<li><i>Implementation Planning:</i> Work with village leaders and Village Health Team (VHT) members to determine most effective means of implementing activities.</li>
	</ul>
	<ul>
		<li><i>Team Management:</i> Serve as liaison between UVP staff and team and village leaders, VHTs, and team members on any project status, upcoming events, issues, etc. Coordinate work streams among team members. Co-manage team morale and engage in conflict mediation/resolution when necessary. Engage team members in projects and motivate team members with specialized skills/training to take initiative on projects in which they are more suited to take on than other members.</li>
	</ul>
	<ul>
		<li><i>Strategic Planning:</i> Co-lead team strategic planning meetings and translate strategy into effective implementation.</li>
	</ul>
	<ul>
		<li><i>Financial Management:</i> Manage and keep track of team’s finances and expenditures. Collaborate with co-leader to review expenses and budget/money management.</li>
	</ul>
	<ul>
		<li><i>Project Management:</i> Manage reporting of project-related data, financial information, and meeting minutes. Share relevant data and information with UVP staff members and team members.</li>
	</ul>
	<p>&nbsp;</p>

	<h3><strong>Team Member</strong></h3>
	<ul>
		<li><i>Project Design &amp; Planning:</i> Help design and plan educational outreach activities, campaigns, and/or monitoring and evaluation activities.</li>
	</ul>
	<ul>
		<li><i>Project Implementation:</i> Carry out and facilitate project activities relevant to the team (e.g., educational outreach, sanitation pushes, needs assessment, focus groups, monitoring and evaluation activities, etc.)</li>
	</ul>
	<ul>
		<li><i>Communication:</i> Communicate with village members through educational outreaches and/or evaluation activities. Assist other team members with translation (via National TM).</li>
	</ul>
	<ul>
		<li><i>Project Reporting:</i> Contribute to team video, blog posts, final report, and other such projects.</li>
	</ul>
</div>

<footer>
	<p>
		<a href='mailto:info@ugandavillageproject.org'>contact</a>
		<a href='https://twitter.com/uvp' target='_blank'>twitter</a>
		<a href='https://www.facebook.com/ugandavillageproject' target='_blank'>facebook</a>
	</p>
	<p id="rights">Copyright &copy; 2015 Group 4</p>
</footer>