<head>

	<script src="../js/DimiTest.js"></script>
	<link href="../css/main.css" type="text/css" rel="stylesheet"/>
	<link href="../css/dimi.css" type="text/css" rel="stylesheet"/>
</head>

<header>
	<nav>
		<ul>
			<li><a href="../index.html#top">home</a></li>
			<li><a href="../who-we-are.html">who we are</a></li>
			<li><a href="../what-we-do.html">what we do</a></li>
			<li><a href="../where-we-work.html">where we work</a></li>
			<li><a href="../get-involved.html">get involved</a></li>
			<li><a href='http://www.cafepress.com/uvp' target='_blank'>store</a></li>
			<li><a href='https://donatenow.networkforgood.org/uvp?code=Website' target='_blank'>donate</a></li>
		</ul>
	</nav>

</header>

<div class="container">
	<div style="margin-top: 55px" class="header">
		<a class="btn btn-default" href="corporateInvolvement.html" >Corporate</a>
		<a class="btn btn-default" href="jobsVolunterPositions.html" >Jobs and Volunteer Positions</a>
		<a class="btn btn-default" href="helpFundraise.html" >Help Fundraise</a>
		<a class="btn btn-default" href="applyInternship.html" >Apply for an Internship</a>
		<a class="btn btn-default" href="internshipInfo.html">Internship Information</a>
		<a class="btn btn-default" href="internshipTeamRoles.html" > Roles on Intern Teams</a>
		<a class="btn btn-default" href="internshipFAQ.html" >Internship FAQ</a>
	</div>
</div>
<div class="container" id="jobsPositionsDimi">
	<h2>Jobs and Volunteer Positions</h2>
		<strong>Time commitment: </strong>Board positions are one year renewable terms usually starting and ending in January. The Fundraising Chair position will require approximately 4-6 hours a week.</p>
	<p>&nbsp;<br />
		<strong>Skills, abilities, and knowledge required: </strong>This position requires a self-starter who is able to manage his/her own time. We are looking for someone who has familiarity with social media and public relations and an interest or background in international development. Ideally, the person filling this position would also have previous board or nonprofit experience. </p>
	<p>&nbsp;<br />
	<div class="container" id="DimiMajorTasks">
			<h3>Major tasks:</h3>
		<ul>
			<li>Support UVP in creating, editing, and publicizing documents</li>
			<li>Collaborate with the in-country staff and Executive Director to post to UVP social media sites, including Twitter, Facebook, Instagram, and blog</li>
			<li>Proactively identify articles or information to share on UVP sites regarding international development, public health, or other areas of interest to UVP donors and supporters</li>
			<li>Assist with monthly newsletter</li>
			<li>Brainstorm ways to expand UVP’s name recognition</li>
		</ul>
	</div>
	<h3>Board duties:</h3>
	<ul>
		<li>Participate in monthly Executive Board member meetings</li>
		<li>Participate in the annual in-person Executive Board member meeting</li>
		<li>Vote upon important issues facing the organization, such as financial plans, project goals, changes in organizational structure, and fundraising strategies</li>
		<li>Decide to pursue or establish an official relationship with an external organization</li>
		<li>Maintain responsibility for how UVP is publicly presented</li>
		<li>Maintain official UVP documents</li>
		<li>Maintain appropriate contact with partner organizations</li>
		<li>Accomplish any additional administrative work</li>
		<li>Raise or donate at least $1000 towards UVP’s work in Uganda</li>
	</ul>
	<p>Please email info@ugandavillageproject.org for more information or to apply.<br />
		&nbsp;</p>
	<div class="container" id="DimiPositions">
			<h3>Positions: </h3>
		<ul>
			<li><strong>Executive Board members</strong> &#8211; We generally recruit at the end of the year for new Executive Board member terms, but do occasionally have positions available at other times. If you&#8217;re interested in discussing what Board member roles entail and how you can get involved, please email us at info@ugandavillageproject.org.</li>
			<li><strong>Summer Internships</strong> &#8211; The Healthy Villages internship provides undergraduate, graduate, public health, and medical students with the opportunity to take part in a grass-roots approach to global health and international development. To find out more, visit our Internship page at <a href="http://www.ugandavillageproject.org/get-involved/summer-internships/" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://www.ugandavillageproject.org/get-involved/summer-internships/', 'http://www.ugandavillageproject.org/get-involved/summer-internships/']);" >http://www.ugandavillageproject.org/get-involved/summer-internships/</a>.</li>
			<li><strong>In-Country Internship Supervisor</strong> &#8211; We recruit in January, February, and March to serve from June to August. For more information, view our <a href="http://www.ugandavillageproject.org/?attachment_id=3204" onclick="_gaq.push(['_trackEvent', 'outbound-article-int', 'http://www.ugandavillageproject.org/?attachment_id=3204', 'job description']);" title="In-Country Internship Supervisor job description">job description</a>.</li>
		</ul>
	</div>
</div>