<h1>Malaria</h1>



<h3>Background</h3>

<p>Taking the lives of more than one million people each year, the malaria epidemic largely affects populations in sub-Saharan Africa. According to the Ugandan Ministry of Health, malaria “currently poses the most significant threat to the health of the [Ugandan] population.” Between twenty-five and forty percent of outpatient visits at health facilities in the country are for malaria. For Ugandan children, malaria is the primary cause of death. Pregnant women, the elderly, and HIV-positive individuals are also extremely vulnerable to the disease.</p>

 

<h3>Education</h3>

<p>We educate our village communities about malaria in a variety of ways. Our summer volunteer teams hold multiple outreaches about the transmission, symptoms, treatment and prevention of malaria. The teams sometimes hold house-to-house visitations where they discuss with each family the dangers of malaria, and the benefits of sleeping under a mosquito net. In most outreaches or discussions, the teams emphasize the cost of getting malaria (in terms of money and lost labor) as compared to the (smaller) cost of a mosquito net. Teams may also bring in local community based organizations (CBOs) to do educational performances or outreaches about malaria, similar to the CBO performances given on HIV/AIDs.</p>

<p>Throughout the three years that we work in a village, UVP continues malaria outreaches. Village Health Teams also continue to sensitize the community about the dangers of malaria and how to prevent its transmission.</p>

 

<h3>Mosquito Net Provision and Supply Chain</h3>

<p>We sell mosquito nets at all village outreaches, bought in the capital (Kampala) and subsidized by UVP so as to be affordable in the village. Ugandan government net distribution is rare and erratice and often provides nets of poor quality without any education on how to properly use the nets. Our stronger, insecticide-treated nets are usually viewed as a bargain. Our detailed instruction on the use of mosquito nets, which involve sample-net demonstrations, ensures their proper use and therefore effectiveness.</p>

<p>Besides selling nets directly (through outreaches and from their house), our summer volunteer teams set up a ‘malaria net distributor’ (usually a member of the Village Health Team), in each Healthy Village. This individual sells UVP-subsidized nets for all three years that we work in their village. Our goal is to increase net coverage, and therefore decrease instances of malaria, dramatically by the time we leave each Healthy Village, and to create a culture of awareness about the disease and the benefits of mosquito nets. Uganda Village Project staff conduct follow-up with all villagers who buy mosquito nets, to ensure that they are using the product properly and to survey the household on the frequency that malaria is experienced.</p>

