<h1>Safe Motherhood and Family Planning</h1>

<h3>Background</h3>

<p>Mothers are at high risk during pregnancy in Uganda, and babies face daunting odds after birth. According to UNICEF, lifetime maternal mortality in Uganda is 1 in 25. Currently, there are estimated to be over 2 million orphaned children in Uganda, many of whom were orphaned when their mothers died during childbirth.</p>

<p>In Iganga District, the infant mortality rate is at 120 per 1,000 births, a ratio which has been stagnant for years. According to research done in the district, most newborns die during the first week of birth from infection, respiratory distress, or complications of prematurity. Many of these deaths could be prevented given basic health education and increased access to healthcare. A study done in the Iganga District in 1999 suggested that an increase in healthcare expenditures of only 80 cents per capita would bring maternal and neonatal care up to World Health Organization Mother-Baby Package standards.</p>

<p>Unsafe birthing practices can lead to devastating injuries and diseases for both mother and child.  Prolonged, unattended births lead to obstetric fistula, maternal and neonatal infections, and neonatal respiratory distress.</p>

<h3>Education and Action</h3>

<p>We promote safe motherhood by:</p>

<ul>
<li>Educating village mothers about health during pregnancy and childbirth</li>

<li>Encouraging and providing family planning methods to appropriately space births or avoid unwanted or dangerous pregnancies</li>

<li>Preventing obstetric fistula through village education on the cause of fistula</li>
</ul>

<p>Our main Safe Motherhood partners are nurses from the local health centers. We bring nurses to our villages to conduct outreaches on family planning, child spacing, and birth control options. They educate the gathered women, and, at the end of the session, offer free birth control options to all women who wish it. As the birth control (both pills and injection) comes in three-month doses, we conduct quarterly visits. At the end of the Healthy Villages program, women are used to the routine of meeting for family planning sessions, and some communities continue outreaches by asking each woman to contribute a small amount for the nurse’s travel expenses to bring birth control methods to the village.</p>

