<h1>Obstetric Fistula</h1>



<h3>Background</h3>

<p>Virtually unheard of in wealthier nations, obstetric fistula (Latin for hole) is an affliction of the very poor, and is predominantly caused by neglected, obstructed labor. If the obstruction is unrelieved, the baby usually dies. The prolonged impaction of its head against the mother’s internal tissue results in a severe medical condition in which a hole (fistula)  develops between either the rectum and vagina  or between the bladder and vagina.  The loss of the baby, the persistent incontinence and rank odor that follows, along with many other possible complications such as infertility and chronic infection, often conspire to isolate the woman from family, society, and employment. Though a simple surgical repair can mend most cases of obstetric fistula, most women go untreated, afraid to admit to the condition or too poor to afford the repair.</p>

<p>Obstetric fistula is particularly prevalent in Sub-Saharan Africa, and Uganda has been reported to have the third-highest rate of fistula in the world.</p>

 

<h3>Education for Prevention</h3>

<p>Through our outreach to traditional birth attendants and other healthcare workers in the Iganga District, we have learned that there are widespread misconceptions about obstetric fistula — for instance, that it is incurable, and that it is caused by a sexually transmitted infection. We working to combat these misconceptions through birth attendant education, through community educational outreaches, and through community drama group performances about fistula. Drama groups are a natural source for education on health issues, and are commonly utilized by Ugandan village communities.</p>

 

<h3>Treatment</h3>

<p>In order to repair women with fistula, we partner with a UK-based organization called Uganda Childbirth Injuries Fund. We first identify women with obstetric fistula though a number of avenues – village outreaches, health center referrals, radio shows, and simple word-of-mouth between women.  We then transport women three times a year to “repair camps” at Kamuli Mission Hospital, where they are repaired by surgeons from Uganda Childbirth Injuries Fund. In Uganda, all hospital patients must arrive with a friend to feed, attend and nurse them, and so we also transport one attendant for each patient. After surgery, we transport the women home (an important step, because if they go home by motorcycle taxi, or walk long distances, they risk re-opening their healing fistula). Our Fistula Coordinator follows up with the women after the surgery to check on her healing and social integration.</p>