<h2>Our Mission</h2>
<h3>Our Vision</h3>
<p>We envision a future in which all Ugandan communities will have the means to effectively create and implement their own health and development solutions.</p>
<h3>Our Mission</h3>
<p>To facilitate community health and well-being in rural Uganda through improved access, education, and prevention.</p>
<p>We strive to uphold this mission in the following ways:</p>
<ul>
	<li>Working on project development in collaboration with our local non-governmental and governmental partners in Iganga District, as well as the communities involved in the projects</li>
	<li>Advocating for community health and development through networking inside and outside the district, and supporting efforts on the ground by local partners</li>
	<li>Focusing on understanding the epidemiology and etiology of public health problems in Iganga in order to inform and support direct service projects</li>
	<li>Implementing sustainable public health and development programs that have real impact in communities</li>
	<li>Creating culturally-appropriate project design</li>
	<li>Utilizing interdisciplinary long and short term volunteer teams of professionals and students which seek to support on the ground efforts of Uganda Village Project and its partners</li>
	<li>Learning about and experiencing the culture and daily lives of the Ugandan people</li>
	<li>Including in-depth planning, development, and evaluation to ensure outcomes are achieved</li>
</ul>
<h3>Our Goals</h3>
<p>Our goals reflect each of our areas of focus, including capacity building, healthcare, and clean water.</p>
<ul>
	<li>WASH program: Decrease the health burden of diarrheal diseases</li>
	<li>HIV program: To reduce HIV/AIDS incidence</li>
	<li>Malaria program: Reduce the health burden and mortality due to malaria</li>
	<li>Reproductive health program: Ensure sustainable access to effective and comprehensive reproductive and maternal health education and services</li>
	<li>Obstetric Fistula program: Decrease the health burden of Obstetric Fistula</li>
	<li>Village Health Team capacity building program: To provide Village Health Teams with the skills and knowledge to better serve the community members as a health resource in Healthy Villages</li>
</ul>
<h3>The Village Concept Model</h3>
<p>The Uganda Village Project was created in February of 2003 as an initiative of the International Federation of Medical Students Associations—USA (IFMSA-USA), a 501(c)3 non-profit organization. The IFMSA “Village Concept Project” model was designed in collaboration with the World Health Organization in 1986, whereby medical students and professionals partner with a village in a developing country and work to assist this community over time. IFMSA-USA has successfully applied this model to Ghana, Kenya, Rwanda, Sudan, Tanzania, and Uganda. Village Concept Projects under IFMSA can be found from our partners page.</p>