<h1>Safe Water</h1>

<p>The link between access to safe water and the overall health of the people of Iganga quickly became clear as Uganda Village Project (UVP) began its work. Access to water at all, let alone safe water, is greatly lacking in many villages; the water sources that exist are often severely contaminated, making cyclical bouts of severe illness and premature death a part of everyday life. In Uganda, 17% of deaths in children under the age of five are simply due to diarrhea. For these reasons, we give safe water a top priority for our partner communities in Iganga District.</p>

<p>In the search for solutions to this problem, UVP has adopted a three phase approach to safe water provision:</p>

<ul>

<li>Safe water sources: Community Constructed Shallow Wells – built by communities working together.</li>

<li>Safe water storage: Sensitizations on the safe water chain.</li>

<li>Point-of-use safe water interventions: Water Guard chlorination through household use.</li>
</ul>

<p>This integrated approach works to ensure that families are drawing from safe sources through the promotion of Community Constructed Shallow Wells, and follows global guidelines on best practices to ensure water safety.</p>

<p>According to the World Health Organization, the objectives of a water safety plan are to ensure safe drinking water through a chain of safe water strategies, which include:</p>
<ul>

<li>Preventing contamination of source waters;</li>

<li>Treating the water to reduce or remove contamination that could be present to the extent necessary to meet the water quality targets; and</li>

<li>Preventing re-contamination during storage, distribution, and handling of drinking water.</li>

<p>Follow the links in this section to learn more about UVP’s efforts to assist rural communities in Iganga District in gaining access to safe water.</p>