<h1>What We Do</h1>

<p>With the help of our partners in the field, Uganda Village Project (UVP) has identified the following core programmatic areas of focus.</p>

 

<h3>Healthy Villages</h3>
<p>This initiative unifies UVP’s various health projects and advocacy work to provide rural health care and promote public health on a village level. Through community organizing and mobilization, this approach targets the primary health risks of the region by providing education, training and appropriate interventions to Village Health Team members, health center workers, local community leaders, and the general population.</p>

 

<h3>Safe Water</h3>
<p>UVP’s approach to safe water sources maximizes community ownership and minimizes the need for external funding. It has been highly successful in meeting the pressing needs for water in Iganga District.</p>

 

<h3>Obstetric Fistula</h3>
<p>Fistula is one of the most devastating childbirth injuries. Prolonged obstructed labor can cause a hole in the birth canal which results in constant incontinence for the woman, isolating her from friends, family, and community. UVP promotes fistula awareness and prevention through community outreaches and brings women for surgery to heal their injury.</p>

