<div class="container col-sm-8">
	<!-- Leaflet map here? Leaving the image here as a placeholder -->
	<img id="workmap" src="img/wwwmap,.jpg" />
</div>

<div class="container col-sm-4">
	<p>With a population approaching 700,000, Iganga District is one of the most densely populated of Uganda. In spite of that fact, Iganga District boasts only one town, Iganga town, which for a long time was the largest in the country without running water or public sewage systems.<br>
	Located in the middle of the Busoga region of the Basoga people, Iganga District is one of the more marginalized of the country and as a result it is among the poorest. Lusoga, a Bantu language closely related to the national language, Luganda, is what most people in the region speak. Those who attend formal schooling, particularly secondary school, also learn English as well as formal Luganda.
	<br>
	The rural economy of Iganga depends heavily on maize, potatoes, and sugar cane.</p>
</div>


<div class="container">
	<!-- Photo gallery from http://slideshow.triptracker.net/-->
	<script type="text/javascript"
	src="http://slideshow.triptracker.net/slide.js"></script>
	<script type="text/javascript">
	  var viewer = new PhotoViewer();
	  viewer.add('img/communityed1.jpg');
	  viewer.add('img/communityed2.jpg');
	  viewer.add('img/healthcenter1jpg');
	</script>

	<a href="javascript:void(viewer.show(0))"><!-- <img src="">Put an image here for photos --></a>
</div>

<div class="container">
	<!-- An image to link to "Press" wwwpress.html -->
</div>

<div class="container">
	<!-- An image for link to "Learn Lusago" wwwlearn.html -->
</div>

