<div class="container" id="wikilearn">
	<h3>Lusoga</h3>
	<h4>From <a href="https://en.wikipedia.org/wiki/Soga_language">Wikipedia</a></h4>
	<q>LuSoga (Soga) is a tonal Bantu language that is spoken in Uganda. It is the native language of people who are indigenous/originally from the Busoga region. In terms of the number of speakers, is one of the major languages spoken in Uganda, after English, Swahili, and Luganda. However, it is mainly spoken in the Busoga region of southern Uganda by + 3 million people (2007 census)… It is tonal in the sense that a given word can change its meaning depending on its tone, i.e. some words are differentiated by pitch. Words that are spelled the same may carry different meanings according to their pitch. Lusoga is rich in metaphors, proverbs and folktales.</q>
	<br>
	<h4>More resources</h4>
	<!-- Both those links on the site currently are duds -->
	<a href="http://download.cnet.com/Electronic-Lusoga-Dictionary/3000-2279_4-75737912.html">CNET Electronic Lusoga Dictionary</a>
	<a href=""></a>
</div>
<div class="container">
	<h3>What does Lusoga sound like?</h3>
	<!-- links to the various sound clips -->
	<p>Thanks to Lily Hsieh, Milly Nabirye, and Patty Barrientos for the audio recordings</p>
</div>