<div class="container">
	<div id="fistula">
		<h3>Breaking Obstetric Fistula</h3>
		<div class="container col-sm-4">
			<!-- image for 1st article -->
			<!-- link to "press/Fistula1_2013.pdf" -->
		</div>
		<div class="container col-sm-4">
			<!-- image for 2nd article -->
			<!-- link to "press/Fistula2_2013.pdf" -->
		</div>
		<div class="container col-sm-4">
			<!-- image for 3rd article -->
			<!-- link to "press/Fistula3_2013.pdf" -->
		</div>
	</div>
	<div id="healthyvillage">
		<h3>Healthy Villages</h3>
		<div class="container col-sm-4">
			<!-- image for 1st article -->
			<!-- link to "press/HIV_2013.pdf" -->
		</div>
		<div class="container col-sm-4">
			<!-- image for 2nd article -->
			<!-- link to "press/HIV2_2013.pdf" -->
		</div>
	</div>
	<div id="safewater">
		<h3>Keeping Water Safe</h3>
		<div class="container col-sm-4">
			<!-- image for 1st article -->
			<!-- link to "press/safewater1_2009.pdf" -->
		</div>
	</div>
	<div id="uvpress">
		<h3>From Our Very Own</h3>
		<div class="container col-sm-4">
			<!-- image for 1st article -->
			<!-- link to "press/uvp1_2013.pdf" -->
		</div>
		<div class="container col-sm-4">
			<!-- image for 2nd article -->
			<!-- link to "press/uvp2_2012.pdf" -->
		</div>
		<div class="container col-sm-4">
			<!-- image for 3rd article -->
			<!-- link to "press/uvp3_2011.pdf" -->
		</div>
		<div class="container col-sm-4">
			<!-- image for 4th article -->
			<!-- link to "press/uvp4_2009.pdf" -->
		</div>
		<div class="container col-sm-4">
			<!-- image for 5th article -->
			<!-- link to "press/uvp5_2007.pdf" -->
		</div>
	</div>
</div>